/*General styles */

:root {
  --blue: #21abca;
  --teal: #5994a0;
  --golden: #f49c1e;
  --pink: #e95b9e;
  --cherry-red: #732d48;
  --off-white: #f4f4f4;
  --green: #b7d158;
  --grey: #cac8e4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100%;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

main *,
main *::before,
main *::after {
  box-sizing: border-box;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 42px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 2.5rem;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 1rem;
  margin: 16px 0;
}

main p {
  font-size: 1rem;
  color: black;
  font-family: inherit;
  line-height: 1.625rem;
  font-weight: 400;
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  border: none;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

main ul li {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  line-height: 1.3;
}
main ul {
  margin: 16px 0;
  padding-left: 40px;
}

.primary__btn {
  font-weight: bold;
  border-radius: 28px;
  background-color: var(--blue);
  padding: 8px 22px;
  display: inline-block;
  color: white;
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
}
.primary__btn:hover {
  background-color: #508590;
}

.btn--d {
  display: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

.text-blue {
  color: var(--blue);
}
.text-teal {
  color: var(--teal);
}

.text-golden {
  color: var(--golden);
}

.text-pink {
  color: var(--pink);
}

.text-grey {
  color: var(--grey);
}

.bg--pink {
  background-color: var(--pink);
}

.bg--grey {
  background-color: var(--grey);
}

.bg--green {
  background-color: var(--green);
}

.bg--blue {
  background-color: var(--blue);
}

.bg--white {
  background-color: white;
}

.center {
  text-align: center;
}

.container {
  max-width: 352px;
  margin: 0 auto;
  padding: 1rem;
}

.section__title {
  font-size: 38px;
  font-weight: 400;
  font-family: "Abril Fatface", cursive;
  line-height: 1.3;
  margin: 0.8em 0;
}

.section__subtitle {
  font-size: 14px;
  max-width: 352px;
  margin: 1rem auto;
  line-height: 1.3;
}

h3.section__title {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  max-width: 250px;
  margin: 1.5em auto;
  margin-bottom: 38px;
  padding-left: 0;
}

/* --Hero Section-- */
.hero {
  background-image: url("./images/hero-m-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: white;
  padding-top: 68px;
  padding-bottom: 68px;
}
.hero .hero__subtitle {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
}
.hero .section__title {
  color: white;
  margin: 10px -8px 26px;
  font-size: 50px;
  line-height: 1.25;
  text-shadow: 0px 1px 1px rgb(0, 0, 0, 0.15);
}
.hero .section__subtitle {
  color: white;
  font-weight: bold;
}
.hero__subtitle {
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgb(0, 0, 0, 0.15);
}
.hero__cta {
  text-align: center;
}
.hero__cta a.primary__btn {
  background-color: white;
  color: var(--teal);
  padding: 10px 28px;
}
/* -- yay --*/
.yay {
  margin-top: 24px;
  overflow: hidden;
}
.yay .container {
  max-width: 428px;
  padding: 0;
}
.yay__content {
  max-width: 352px;
  padding: 16px;
  margin: 0 auto;
}

.yay__image {
  margin-top: 24px;
}
.yay__image img {
  position: relative;
  left: -11%;
  width: 100%;
  max-width: initial;
}

/* -- packages -- */
.pkgs .container {
  max-width: 428px;
  max-width: 100%;
  padding: 0;
}
.pkgs__content {
  max-width: 352px;
  padding: 16px;
  margin: 0 auto 22px;
}
.pkgs .section__title {
  max-width: 250px;
}
.pkgs .owl-item .item {
  position: relative;
}
.pkgs .owl-item .item::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: -24px;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  border-radius: 8px;
  border: 8px solid var(--cherry-red);
  z-index: 11;
  user-select: none;
  pointer-events: none;
  display: none;
}
.pkgs .owl-item.active.center .item::after {
  display: block;
}
.pkgs .owl-item .item .pkg__card__content {
  filter: grayscale(1);
  opacity: 0.2;
  padding-top: 24px;
  margin-top: -2px;
}

.pkgs .owl-item.active.center .item .pkg__card-caption {
  background-color: var(--cherry-red);
}
.pkgs .owl-item .item .pkg__card-img img {
  filter: grayscale(1);
  margin-top: 24px;
  padding-bottom: 2px;
}
.pkgs .owl-item.active.center .item .pkg__card__content {
  filter: none;
  opacity: 1;
  background-color: var(--cherry-red);
  border-radius: 0 0 8px 8px;
}
.pkgs .owl-item.active.center .item .pkg__card__content ul li,
.pkgs .owl-item.active.center .item .pkg__card__content a,
.pkgs .owl-item.active.center .item .pkg__card__content .pkg__price--plus,
.pkgs .owl-item.active.center .item .pkg__card__content .pkg__price--add {
  color: white;
}

.pkgs .owl-item.active.center .item .pkg__card-img img {
  filter: grayscale(0);
}
.pkgs .owl-item.owl-item.active.center .item .pkg__card-img::after {
  display: none;
}
.pkg__card-img {
  position: relative;
}

.pkg__card-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--teal);
  z-index: 5;
  opacity: 0.5;
}

.pkg__card-caption {
  color: white;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: calc(100% - 3px);
  opacity: 1;
}
.pkg__card-title {
  color: white;
  font-size: 26px;
  letter-spacing: 3px;
  max-width: 100%;
  margin: 16px 0;
  padding: 0 12%;
  padding-right: 0;
  text-shadow: 0px 1px 1px rgb(0 0 0 / 15%);
}

.pkgs .owl-carousel .owl-stage {
  transition-duration: 0.5s !important;
}

.pkgs .owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  max-width: 832px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: space-between;
}
.pkgs .owl-carousel .owl-nav {
  width: 100%;
  width: 85%;
  width: calc(70% + 74px);
  top: 250px;
}

.package__option h3 {
  font-size: 18px;
  color: var(--teal);
  letter-spacing: 3px;
  margin-top: 0;
  text-align: left;
  padding: 0 12%;
}
ul.pkg__list {
  text-align: left;
  max-width: 100%;
  padding: 0px 0 14px 40px;
  padding: 0px 10% 14px calc(10% + 12px);
  margin: 0;
}
.pkg__list li {
  line-height: 1.3;
  font-size: 14px;
}
.pkg__price {
  padding: 0 12%;
  text-align: left;
  margin: 10px 0 14px;
}
.pkg__price--price {
  color: var(--teal);
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.pkg__price--plus {
  color: black;
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
}
.pkg__price--add {
  color: black;
  font-size: 11px;
  font-weight: 300;
  font-style: italic;
}
.pkg__cta {
  text-align: left;
  padding: 0 12%;
}
.pkg__cta a.primary__btn {
  background-color: var(--teal);
  min-width: 150px;
  text-align: center;
  margin-bottom: 48px;
}
.pkgs__note {
  font-size: 12px;
  padding: 8px 22px;
  max-width: 320px;

  margin: 24px auto 48px;
  border-left: 2px solid #e8e6e6;
}
.pkgs__note span {
  transform: scale(0.9);
  margin-top: -8px;
  transform-origin: left;
  display: block;
}
/* -- .works -- */
.works {
  background-color: #f4f4f4;
  padding: 60px 0 48px;
  background-image: url("./images/circle.svg"), url("./images/circle.svg");
  background-repeat: no-repeat;
  background-position: -100px -70px, calc(100% + 85px) calc(100% + 100px);
  background-size: 180px, 200px;
}
.works .section__title {
  margin-top: 0;
}
.works h3 {
  letter-spacing: 3px;
  margin-top: 34px;
}
.works__list {
  padding-left: 16px;
}
.works__cta a.primary__btn {
  background-color: var(--teal);
  min-width: 160px;
  text-align: center;
}
.works__cta a.primary__btn:hover {
  background-color: #508590;
}
.works__image {
  display: none;
}
/* --What-- */
.what {
  margin-top: 64px;
  margin-bottom: 68px;
}
.what__card img {
  width: 90px;
  display: block;
}
.what__card h3 {
  letter-spacing: 3px;
  word-spacing: 2px;
  margin-top: 24px;
  margin-bottom: 8px;
  position: relative;
  display: inline-block;
}
.what__card h3::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -10px;
  right: -8px;
  top: 10px;
  height: 13px;
  background-color: #b6e0e0;
  z-index: -1;
}
.what__card ul {
  padding-left: 16px;
  margin: 24xpx 0;
}
.what .ray {
  background-color: #d4d4d4;
  height: 2px;
  margin: 48px 0;
}
/* --Enhance-- */
.enhance {
  overflow: hidden;
  padding-bottom: 60px;
}
.enhance .container {
  max-width: 428px;
  max-width: 100%;
  padding: 0;
  background-color: var(--cherry-red);
}
.enhance__image img {
  width: 100%;
}
.enhance__content {
  max-width: 352px;
  padding: 0 16px 70px;
  margin: 0 auto;
  position: relative;
}
.enhance__content::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -52px;
  right: -40px;
  width: 150px;
  height: 150px;
  background-image: url("./images/pumpkin.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 2;
}
.enhance .section__title {
  margin-top: 0;
  color: white;
}
.enhance .section__subtitle {
  color: white;
}
.enhance__cta a.primary__btn {
  background-color: white;
  color: var(--cherry-red);
  min-width: 150px;
  text-align: center;
}

/* --Why pick us-- */
.why {
  overflow: hidden;
}
.why__image {
  margin-top: 48px;
  margin-bottom: 48px;
}
.why__image img {
  position: relative;
  left: 0;
  width: 410px;
  max-width: initial;
}

/* --Say-- */
.say {
  background-color: var(--cherry-red);
  padding: 68px 0;
  background-image: url("./images/what-do-you-say.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 135%;
}
.say .section__title {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1;
}
.say__cta {
  text-align: center;
}
.say__cta a.primary__btn {
  background-color: white;
  color: var(--cherry-red);
  padding: 10px 18px;
}
/* --Pii-- */
.whatpii {
  margin-top: 0;
}
.whatpii__cta a.primary__btn {
  min-width: 160px;
  text-align: center;
  background-color: var(--teal);
  margin-top: 32px;
}
/* --discover-- */
.discover {
  padding-bottom: 48px;
}
.discover .container {
  max-width: 768px;
  padding: 0;
}

.discover .section__title {
  max-width: 300px;
  margin: 0.8em auto;
}
a.discover__card {
  max-width: 320px;
  margin: 0 auto;
  display: block;
}

.discover__card img {
  border-radius: 22px;
}
.discover__card h3 {
  font-size: 18px;
  letter-spacing: 2px;
  text-align: left;
  padding: 0 20px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 32px;
}
.discover__card h3::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 4px;
  right: 6px;
  top: 10px;
  height: 13px;
  background-color: #b6e0e0;
  z-index: -1;
}
.discover__card p.section__subtitle {
  text-align: left;
  font-weight: 300;
  padding: 0 8px 0 20px;
  margin-bottom: 0;
}

/* --Desktop styles-- */

@media (min-width: 960px) {
  h3 {
    font-size: 1.125rem;
  }
  main ul li {
    font-size: 15px;
  }
  .section__title {
    padding-left: 0;
    font-size: 50px;
  }
  .section__subtitle {
    max-width: 610px;
    margin: 1rem auto;
    font-size: 16px;
    padding-left: 0;
    margin-left: 0;
  }
  .btn--m {
    display: none;
  }
  .btn--d {
    display: block;
  }
  .primary__btn {
    font-size: 15px;
    padding: 10px 30px;
  }
  .container {
    max-width: 1164px;
    margin: 0 16px;
    margin: 0 auto;
  }
  h3.section__title {
    font-size: 22px;
  }
  /* --Hero Section-- */
  .hero {
    background-image: url("./images/hero-bg-d.jpg");
    background-position: left top;
    background-size: 90%;
    min-height: 765px;
    padding-top: 158px;
    max-width: 1366px;
    margin: 0 auto;
  }
  .hero__content {
    transform: scale(1.1);
    transform-origin: left;
    max-width: 550px;
  }
  .hero .hero__subtitle {
    font-size: 24px;
    letter-spacing: 3px;
    text-align: left;
  }
  .hero .section__title {
    font-size: 64px;
  }
  .hero .section__subtitle {
    font-size: 18px;
    max-width: 420px;
    margin-top: 32px;
  }
  .hero__cta {
    text-align: left;
  }

  /* -- yay --*/
  .yay {
    margin-top: 128px;
    background-image: url("./images/hollow-circle.png");
    background-repeat: no-repeat;
    background-position: calc(100% + 75px) bottom;
    background-size: 200px;
    padding-bottom: 50px;
  }
  .yay .container {
    max-width: 1366px;
    padding: 16px 0;
    overflow: hidden;
  }
  .yay__wrapper {
    display: flex;
    align-items: center;
  }
  .yay__content {
    order: 2;
    padding: 0;
    max-width: 394px;
    margin: 0;
    margin-left: 5%;
    width: 40%;
  }
  .yay__image {
    width: 50%;
  }

  .yay__image img {
    top: -25px;
    left: -115px;
    width: 100%;
  }

  /* -- packages -- */
  .pkgs {
    background-image: url("./images/champagne.jpg");
    background-repeat: no-repeat;
    background-position: center calc(100% + 56px);
    background-size: 400px;
    padding-bottom: 155px;
  }
  .pkgs .container {
    max-width: 1366px;
    position: relative;
  }
  .pkgs__content {
    max-width: 100%;
    padding-top: 0;
    margin-bottom: 32px;
  }
  .pkgs .section__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 22px;
    max-width: initial;
  }
  .pkgs .section__subtitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .package__option h3 {
    padding-left: 0;
  }
  .pkgs .owl-item .item::after {
    display: none;
  }
  .pkgs .owl-item:nth-child(2) .item::after {
    display: block;
  }
  .pkgs__wrapper:hover .owl-item:nth-child(2) .item::after {
    display: none;
  }
  .pkgs .owl-item:hover .item::after {
    display: block !important;
  }
  .pkgs .owl-item:nth-child(2) .item .pkg__card-caption {
    background-color: var(--cherry-red);
  }
  .pkgs__wrapper:hover .owl-item:nth-child(2) .item .pkg__card-caption {
    background-color: transparent;
  }
  .pkgs .owl-item:hover .item .pkg__card-caption {
    background-color: var(--cherry-red) !important;
  }

  .pkgs .owl-item:nth-child(2) .item .pkg__card__content {
    filter: none;
    opacity: 1;
    background-color: var(--cherry-red);
  }
  .pkgs__wrapper:hover .owl-item:nth-child(2) .item .pkg__card__content {
    filter: grayscale(1);
    opacity: 0.2;
    background-color: transparent;
  }
  .pkgs .owl-item:hover .item .pkg__card__content {
    filter: none !important;
    opacity: 1 !important;
    background-color: var(--cherry-red) !important;
    border-radius: 0 0 8px 8px;
  }
  .pkgs .owl-item .item .pkg__card__content {
    max-width: 100%;
    padding: 36px 12% 0;
    border-radius: 0 0 8px 8px;
  }
  .pkgs .owl-item:nth-child(2) .item .pkg__card-img img {
    filter: none;
  }
  .pkgs__wrapper:hover .owl-item:nth-child(2) .item .pkg__card-img img {
    margin-top: 24px;
  }
  .pkgs .owl-item:hover .item .pkg__card-img img {
    filter: none !important;
  }
  .pkgs .owl-item:nth-child(2) .item .pkg__card-img::after {
    display: none;
  }
  .pkgs__wrapper:hover .owl-item:nth-child(2) .item .pkg__card-img::after {
    display: block;
  }

  .pkgs .owl-item:hover .item .pkg__card-img::after {
    display: none !important;
  }
  .pkgs .owl-item:nth-child(2) .item .pkg__card__content ul li,
  .pkgs .owl-item:nth-child(2) .item .pkg__card__content a,
  .pkgs .owl-item:nth-child(2) .item .pkg__card__content .pkg__price--plus,
  .pkgs .owl-item:nth-child(2) .item .pkg__card__content .pkg__price--add {
    color: white;
  }
  .pkgs__wrapper:hover .owl-item .item .pkg__card__content ul li,
  .pkgs__wrapper:hover .owl-item .item .pkg__card__content a,
  .pkgs__wrapper:hover .owl-item .item .pkg__card__content .pkg__price--plus,
  .pkgs__wrapper:hover .owl-item .item .pkg__card__content .pkg__price--add {
    color: black;
  }
  .pkgs .owl-item:hover .item .pkg__card__content ul li,
  .pkgs .owl-item:hover .item .pkg__card__content a,
  .pkgs .owl-item:hover .item .pkg__card__content .pkg__price--plus,
  .pkgs .owl-item:hover .item .pkg__card__content .pkg__price--add {
    color: white;
  }
  .pkgs .owl-carousel .owl-stage {
    transition-duration: 0.25s !important;
    display: flex;
    align-items: stretch;
  }
  .pkgs .owl-carousel .owl-nav.disabled {
    display: none;
  }
  .pkg__card-title {
    font-size: 34px;
    max-width: 100%;
  }
  ul.pkg__list {
    max-width: 355px;
    padding-left: 16px;
    padding-top: 0;
  }
  .pkg__price {
    padding-left: 0;
  }
  .pkg__price--price {
    font-size: 38px;
  }
  .pkg__cta {
    padding-left: 0;
  }
  .pkgs__note {
    font-size: 14px;
    margin: 68px auto -30px;
    padding-left: 24px;
    margin-left: 30px;
    max-width: 540px;
    border-left: 2px solid #e8e6e6;
    position: absolute;
    z-index: 11;
    bottom: 19%;
    max-width: 27%;
  }
  /* -- .works -- */
  .works {
    padding: 24px 0 42px;
    margin: 0px 0 150px;
    background-image: url("./images/circle.svg");
    background-position: 34% -105px;
    background-size: 230px;
    background-repeat: no-repeat;
  }

  .works .container {
    max-width: 1164px;
    position: relative;
  }
  .works .container::after {
    content: "";
    position: absolute;
    bottom: -180px;
    right: 10%;
    width: 220px;
    height: 220px;
    background-image: url("./images/dots.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .works__wrapper {
    display: flex;
    align-items: center;
  }
  .works__content {
    max-width: 420px;
    width: 50%;
  }
  .works .section__title {
    margin-bottom: 24px;
  }
  .works h3 {
    margin-top: 24px;
  }
  .works__image {
    display: block;
    width: 50%;
    position: relative;
  }
  .works__image img {
    position: absolute;
    top: 50%;
    left: -75px;
    left: -118px;
    transform: translateY(-50%);
    padding-top: 25px;
    max-width: 520px;
  }
  /* --What-- */
  .what {
    padding: 74px 0 0;
  }
  .what__cards {
    display: flex;
    justify-content: space-evenly;
  }
  .what__card {
    max-width: 240px;
    margin: 32px 0;
  }
  .what__card img {
    margin: 0 auto;
  }
  .what__card h3 {
    max-width: 202px;
    padding-left: 15px;
  }
  .what__card h3::after {
    left: 0;
  }
  .what__card p.section__subtitle {
    font-size: 15px;
  }
  .what .ray {
    height: auto;
    width: 2px;
    margin: 0;
  }
  /* --Enhance-- */
  .enhance {
    padding-top: 48px;
    padding-bottom: 0;
  }
  .enhance .container {
    max-width: 1164px;
    background-color: transparent;
  }
  .enhance__wrapper {
    position: relative;
  }
  .enhance__content {
    max-width: 400px;
    position: absolute;
    top: 14%;
    top: calc(50% - 40px);
    transform: translateY(-50%);
    left: 5%;
    padding-bottom: 8px;
  }
  .enhance__content::after {
    display: none;
  }
  /* --Why pick us-- */
  .why {
    background-image: url("./images/wave-bg.png");
    background-repeat: no-repeat;
    background-position: -20px 70%;
    background-size: 130px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .why .container {
    max-width: 1366px;
    overflow: hidden;
  }
  .why__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .why__wrapper > div {
    width: 50%;
  }
  .why__content {
    max-width: 450px;
  }
  .why .section__title {
    text-align: right;
  }
  .why .section__subtitle {
    text-align: right;
    margin-left: 25px;
  }
  .why__image {
    margin-bottom: 0;
  }
  .why__image img {
    left: 20%;
    width: 125%;
  }
  /* --Say-- */
  .say {
    background-color: var(--cherry-red);
    background-size: cover;
    background-image: url("./images/what-do-you-say-desktop.jpg");
    padding: 113px 0;
  }
  /* --Pii-- */
  .whatpii {
    padding-top: 38px;
  }
  .whatpii__cta {
    display: none;
  }
  .whatpii .what__card h3 {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
  /* -- Discover -- */
  .discover {
    margin-bottom: 48px;
  }
  .discover .container {
    max-width: 1366px;
  }
  .discover .section__title {
    max-width: 700px;
    text-align: center;
    margin-bottom: 56px;
  }
  .discover__cards {
    max-width: 1164px;
    margin: 0 auto;
  }
  .discover__card {
    max-width: 1164px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .discover__card h3 {
    font-size: 20px;
  }
  .discover .section__title span.nextline {
    display: block;
  }
}
